.group-info-card {
  margin: 10px 0px;
  padding: 20px 10px;
  background-color: slateblue;
}
.group-info-card > div > .title {
  color: gold;
  font-weight: bolder;
}
.group-info-card > div > .value {
  color: white;
}
.group-info-card > div > button {
  width: 50%;
  margin: 20px auto;
}
.add-expense-card {
  margin: 20px 0px;
  padding: 20px 10px;
  background-color: lightgray;
}
.transaction-card {
  padding: 20px 10px;
}
.transaction-card > div {
  background-color: lightcyan;
  border-radius: 5px;
  margin: 10px 0px;
}

.transaction-card > .heading {
  font-size: 1.5rem;
}

.result {
  margin: 20px 0px;
  padding: 20px 10px;
  background-color: lightgreen;
}

.result > .heading {
  font-size: 1.5rem;
}
