.group-list-card {
  background-color: #4da8da;
  margin: 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
}
.group-list-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.group-list-card-info {
  color: white;
  font-size: 1.5rem;
}
.group-list-card-info-value {
  color: white;
  margin-left: 10px;
}
.group-list-card-action-button {
  display: flex;
}
.group-list-card-action-button > div > button {
  margin: 10px;
}
